<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="admin/layout">
<head>
    <meta charset="UTF-8">
    <title>User List</title>

    <link th:href="@{/assets/css/useradmin.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/topAlert.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div layout:fragment="content">
    <main>
        <div class="container">
            <div class="row">
                <h3 class="main-title">User List<a href="javascript:void (0);" class="user-add-btn pull-right">Register
                    User</a></h3>
                <table class="table table-responsive table-bordered table-striped">
                    <thead>
                    <tr>
                        <td>Username</td>
                        <td>Personal Info</td>
                        <td>Role</td>
                        <td>Operation</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user:${userPage.list}" th:unless="${#lists.isEmpty(userPage.list)}"
                        th:data="${user.id}">
                        <td th:text="${user.username}"></td>
                        <td><a th:if="${user.people != null}" th:href="@{/people/detail/{id}(id=${user.people.id})}">[[${user.people.name}]]</a>
                        </td>
                        <td><span th:unless="${#lists.isEmpty(user.roleSet)}">[[${user.roleSet[0].description}]]</span>
                        </td>
                        <td>
                            <button class="user-edit-btn admin-tooltip btn btn-default btn-success"
                                    data-toggle="tooltip"
                                    data-placement="top" title="Reset Password">
                                <a class="glyphicon glyphicon-edit"></a>
                            </button>
                            <div class="user-bind-btn admin-tooltip btn btn-default btn-primary"
                                    data-toggle="tooltip" data-placement="top" title="Bind User">
                                <a class="glyphicon glyphicon-link"
                                   th:href="@{/system/user/bind/for/{id}(id=${user.id})}"></a>
                            </div>
                            <button class="user-del-btn admin-tooltip btn btn-default btn-danger" title="Delete User">
                                <a class="glyphicon glyphicon-remove"></a>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav th:replace="fragment/page :: client(${userPage}, '/system/user')"/>
            </div>
        </div>
    </main>
    <div class="modal fade user-add-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <form method="post" th:action="@{/system/user/register}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title">Register User</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" name="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter password"
                                   name="password">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade user-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <form th:action="@{/system/user/reset}" method="post">
            <input type="hidden" name="id">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title">Reset Password</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="username">Name</label>
                            <input type="text" class="form-control" id="username" name="username" disabled>
                        </div>
                        <div class="form-group">
                            <label for="resetpassword">Reset password</label>
                            <input type="password" class="form-control" id="resetpassword" name="password">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script th:src="@{/assets/js/jquery.topAlert.js}" type="text/javascript"></script>
    <script th:inline="javascript">
        $(function () {
            $(document).on("click", ".user-add-btn", function () {
                $(".user-add-modal").modal();
            }).on("mouseover", ".admin-tooltip", function () {
                $(this).tooltip("show");
            }).on("click", ".user-del-btn", function () {
                if (confirm("Are you sure you want to delete this user?")) {
                    var $ele = $(this);
                    var $userId = $ele.parents("tr").attr("data");
                    $.post("/system/user/delete/"+$userId, function () {
                        $ele.parents("tr").remove();
                        $.topAlert({"text":"Delete successfully!", "type":"success"})
                    });
                }
            }).on("click", ".user-edit-btn", function () {
                var $username = $(this).parents("td").siblings("td:first-child").text();
                var $userId = $(this).parents("tr").attr("data");
                $(".user-edit-modal").find("input[name='username']").val($username);
                $(".user-edit-modal").find("input[name='id']").val($userId);
                $(".user-edit-modal").modal();
            });

            $('.user-add-modal').on('hidden.bs.modal', function (e) {
                $(this).find(":input").val('');
            })

            $('.user-edit-modal').on('hidden.bs.modal', function (e) {
                $(this).find(":input").val('');
            })

            $(".nav-item").eq(0).addClass("active");

            var $resultCode = [[${result!=null?result.code:0}]];
            if ($resultCode == 333){
                $.topAlert({"text":"Fail to register user, username/password can not be null! ", "type":"fail", "time":"3000"})
            }else if ($resultCode == 444){
                $.topAlert({"text":"Fail to register user, username has been registered!", "type":"fail", "time":"3000"})
            }else if($resultCode == 666){
                $.topAlert({"text":"Register user successfully!", "type":"success", "time":"3000"})
            }else if($resultCode == 888){
                $.topAlert({"text":"Reset password successfully!", "type":"success", "time":"3000"})
            }else if($resultCode == 999){
                $.topAlert({"text":"Fail to reset password!", "type":"fail", "time":"3000"})
            }
        })
    </script>
</div>
</body>
</html>