<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/admincommon.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/adminnav.css}" rel="stylesheet" type="text/css">

    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
</head>
<body>
<nav>
    <div class="nav-inner container">
        <a th:href="@{/}" class="nav-logo">Data and Innovation Lab</a>
        <h2 class="pull-right" shiro:hasrole="ADMIN">BackStage Management</h2>
        <h2 class="pull-right" shiro:hasrole="GENERAL">Personal Management</h2>
    </div>
</nav>
<header>
    <ul class="header-inner container">
        <li class="nav-item" shiro:hasrole="ADMIN">
            <a th:href="@{/system/user}">USER</a>
        </li>
        <li class="nav-item" shiro:hasrole="GENERAL">
            <a th:href="@{/system/people/edit}">INFORMATION</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/system/news}">NEWS</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/system/projects}">PROJECT</a>
        </li>
        <li class="nav-item" shiro:hasrole="ADMIN">
            <a th:href="@{/system/people}">MEMBER</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/system/tools}">TOOL</a>
        </li>
        <li class="nav-item" shiro:hasrole="GENERAL">
            <a th:href="@{/system/pubs/for}">PUBLICATION</a>
        </li>
        <li class="nav-item" shiro:hasrole="ADMIN">
            <a th:href="@{/system/ins}">INSTITUTE</a>
        </li>
        <li class="nav-item" shiro:hasrole="ADMIN">
            <a th:href="@{/system/dep}">DEPARTMENT</a>
        </li>
        <li class="nav-item" shiro:hasrole="ADMIN">
            <a th:href="@{/system/slide}">CAROUSEL</a>
        </li>
    </ul>
</header>
<div layout:fragment="content" th:remove="tag"></div>
</body>
</html>