<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/common.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/nav.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/footer.css}" rel="stylesheet" type="text/css">

    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
</head>
<body>
<nav class="has-bg">
    <div class="nav-inner container">
        <a th:href="@{/}" class="nav-logo">Data and Innovation Lab</a>
        <ul class="nav-list">
            <li class="nav-item">
                <a th:href="@{/}">HOME</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/news}">NEWS</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/projects}">PROJECTS</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/people}">MEMBER</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/tools}">TOOLS</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/pubs}">PUBLICATION</a>
            </li>
            <li class="nav-item nav-input">
                <form class="nav-search">
                    <input type="text" name="query" placeholder="input keyword">
                    <button type="submit"></button>
                </form>
            </li>
            <li class="nav-item has-subnav" shiro:hasrole="GENERAL">
                <a th:href="@{/system/people/edit}"><span class="glyphicon glyphicon-user"></span><span shiro:principal=""></span></a>
                <ul class="subnav">
                    <li class="subnav-item">
                        <a th:href="@{/system/news}" target="_blank">My News</a>
                    </li>
                    <li class="subnav-item">
                        <a th:href="@{/system/projects}" target="_blank">My Projects</a>
                    </li>
                    <li class="subnav-item">
                        <a th:href="@{/system/tools}" target="_blank">My Tools</a>
                    </li>
                    <li class="subnav-item">
                        <a th:href="@{/system/pubs/for}" target="_blank">My Publications</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" shiro:notAuthenticated="">
                <a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Sign In</a>
            </li>
            <li class="nav-item" shiro:hasrole="ADMIN">
                <a th:href="@{/system}" target="_blank"><span class="glyphicon glyphicon-cog"></span> Backstage</a>
            </li>
            <li class="nav-item" shiro:authenticated="">
                <a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a>
            </li>
        </ul>
    </div>
</nav>

<div layout:fragment="content" th:remove="tag"></div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footer-logo">
                    <a href="#"></a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footer-logo">
                    <a href="#"></a>
                </div>
            </div>
            <div class="footer-copyright col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <p>&copy; 2016 <a href="#">The University of Chicago</a></p>
                <p>Knowledge Lab</p>
                <p><a href="#">Computation Institute</a></p>
                <br>
                <p>5735 South Ellis Avenue</p>
                <p>Chicago, Illinois 60637</p>
            </div>
            <div class="footer-contact col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <p class="icon-twi">Contact:<a href="#"></a></p>
                <p><a href="#">Contact US</a></p>
                <p><a href="#">Our C.I. Page</a></p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>