<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="client/layout">
<head>
    <meta charset="UTF-8">
    <title th:if="${tool != null}" th:text="${tool.title}"></title>

    <link th:href="@{/assets/css/tooldetail.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div layout:fragment="content">
    <header class="nav-bg"></header>
    <main>
        <div class="container">
            <div class="row">
                <div class="main-aside col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <h5>In This Section:</h5>
                    <ul class="aside-nav">
                        <li class="aside-nav-item active">
                            <a href="#">Knowledge Lab</a>
                            <ul class="aside-subnav">
                                <li class="aside-subnav-item">
                                    <a href="#">Aesthetics of Explanation</a>
                                </li>
                                <li class="aside-subnav-item">
                                    <a href="#">Big Questions</a>
                                </li>
                                <li class="aside-subnav-item">
                                    <a href="#">Cognitive and Evolutionary Foundations of Science</a>
                                </li>
                            </ul>
                        </li>
                        <li class="aside-nav-item">
                            <a href="#">Metaknowledge Network Leadership</a>
                        </li>
                        <li class="aside-nav-item">
                            <a href="#">Metaknowledge Research Network</a>
                        </li>
                        <li class="aside-nav-item">
                            <a href="#">Knowledge Lab Alumni</a>
                        </li>
                    </ul>
                </div>
                <div class="main-area col-lg-9 col-md-9 col-sm-12 col-xs-12 row" th:if="${tool != null}">
                    <h3 th:text="${tool.title}"></h3>
                    <div class="tool-detail col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="tool-img" th:unless="${#strings.isEmpty(tool.imgUrl)}">
                            <img th:src="@{${tool.imgUrl}}">
                        </div>
                        <p class="tool-time">Time: [[${#dates.format(tool.createTime, 'MMM dd, yyyy')}]]</p>
                        <p class="tool-ins" th:if="${tool.institution != null}">Insititute: [[${tool.institution.name}]]</p>
                        <p class="tool-depart" th:if="${tool.department != null}">Department: [[${tool.department.name}]]</p>
                        <div class="tool-desc" th:text="${tool.content}">
                        </div>
                    </div>
                    <div class="aside-area col-lg-4 col-md-4 col-sm-12 col-xs-12" th:unless="${#lists.isEmpty(newsPage.list)}">
                        <h5>News</h5>
                        <ul class="news-list">
                            <li class="news-item" th:each="news:${newsPage.list}">
                                <a th:href="@{/news/detail/{id}(id=${news.id})}">[[${news.title}]]<span th:text="${#dates.format(news.createTime, 'MMM dd, yyyy')}"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>