<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>401 Error</title>
    <link href="webjars/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/webjars/bootstrap/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/common.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/error.css" rel="stylesheet" type="text/css">
</head>
<body>
<main>
    <div class="container">
        <div class="error-area">
                <span class="error-area-inner">
                    <h1 class="main-tip tip401">You are unauthorized.</h1>
                    <h4 class="sub-tip">We are so sorry that you don't have permission to access this page.</h4>
                    <h5>We suggest you confirm your information or contact the administrator.</h5>
                </span>
        </div>
    </div>
</main>
</body>
</html>