<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dail.dao.NewsMapper">
    <resultMap id="BaseResultMap" type="com.dail.model.News">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="img_url" jdbcType="VARCHAR" property="imgUrl"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="department_id" jdbcType="INTEGER" property="departmentId"/>
        <result column="institution_id" jdbcType="INTEGER" property="institutionId"/>
        <result column="last_modified_time" jdbcType="TIMESTAMP" property="lastModifiedTime"/>
        <result column="uid" jdbcType="INTEGER" property="uid"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.dail.model.News">
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, create_time, description, img_url, title, department_id, institution_id, last_modified_time, 
    uid
  </sql>
    <sql id="Blob_Column_List">
    content
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from news
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from news
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.dail.model.News" useGeneratedKeys="true" keyProperty="id">
    insert into news (id, create_time, description, 
      img_url, title, department_id, 
      institution_id, last_modified_time, uid, 
      content)
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR}, 
      #{imgUrl,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{departmentId,jdbcType=INTEGER}, 
      #{institutionId,jdbcType=INTEGER}, #{lastModifiedTime,jdbcType=TIMESTAMP}, #{uid,jdbcType=INTEGER}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.dail.model.News" useGeneratedKeys="true" keyProperty="id">
        insert into news
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="imgUrl != null">
                img_url,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="departmentId != null">
                department_id,
            </if>
            <if test="institutionId != null">
                institution_id,
            </if>
            <if test="lastModifiedTime != null">
                last_modified_time,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="departmentId != null">
                #{departmentId,jdbcType=INTEGER},
            </if>
            <if test="institutionId != null">
                #{institutionId,jdbcType=INTEGER},
            </if>
            <if test="lastModifiedTime != null">
                #{lastModifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dail.model.News">
        update news
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                img_url = #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="departmentId != null">
                department_id = #{departmentId,jdbcType=INTEGER},
            </if>
            <if test="institutionId != null">
                institution_id = #{institutionId,jdbcType=INTEGER},
            </if>
            <if test="lastModifiedTime != null">
                last_modified_time = #{lastModifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="uid != null">
                uid = #{uid,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.dail.model.News">
    update news
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      department_id = #{departmentId,jdbcType=INTEGER},
      institution_id = #{institutionId,jdbcType=INTEGER},
      last_modified_time = #{lastModifiedTime,jdbcType=TIMESTAMP},
      uid = #{uid,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.dail.model.News">
    update news
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      department_id = #{departmentId,jdbcType=INTEGER},
      institution_id = #{institutionId,jdbcType=INTEGER},
      last_modified_time = #{lastModifiedTime,jdbcType=TIMESTAMP},
      uid = #{uid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


    <resultMap id="ResultMapWithDetail" extends="ResultMapWithBLOBs" type="com.dail.model.News">
        <association property="sysUser" column="uid" javaType="com.dail.model.SysUser" select="queryUser">
        </association>
        <association property="institution" column="institution_id" javaType="com.dail.model.Institution" select="queryIns">
        </association>
        <association property="department" column="department_id" javaType="com.dail.model.Department" select="queryDep">
        </association>
    </resultMap>
    <resultMap id="ResultMapWithUser" extends="BaseResultMap" type="com.dail.model.News">
        <association property="sysUser" column="uid" javaType="com.dail.model.SysUser" select="queryUser"/>
    </resultMap>

    <resultMap id="UserMap" type="com.dail.model.SysUser">
        <id property="id" column="user_id" />
        <result property="username" column="user_name" />
    </resultMap>
    <resultMap id="InsMap" type="com.dail.model.Institution">
        <id property="id" column="ins_id" />
        <result property="name" column="ins_name" />
    </resultMap>
    <resultMap id="DepMap" type="com.dail.model.Department">
        <id property="id" column="dep_id" />
        <result property="name" column="dep_name" />
    </resultMap>
    <select id="queryUser" resultMap="UserMap" parameterType="java.lang.Integer">
        select id as user_id,username as user_name from sys_user where id = #{id}
    </select>
    <select id="queryIns" resultMap="InsMap" parameterType="java.lang.Integer">
        select id as ins_id,name as ins_name from institution where id = #{id}
    </select>
    <select id="queryDep" resultMap="DepMap" parameterType="java.lang.Integer">
        select id as dep_id,name as dep_name from department where id = #{id}
    </select>

    <select id="selectAllBase" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from news
    </select>
    <select id="selectAllBaseWithUser" resultMap="ResultMapWithUser">
        select
        <include refid="Base_Column_List"/>
        from news
    </select>
    <select id="selectAllBaseWithUserByUid" parameterType="java.lang.Integer" resultMap="ResultMapWithUser">
        select
        <include refid="Base_Column_List"/>
        from news
        where uid = #{userId,jdbcType=INTEGER}
    </select>
    <select id="selectAllWithBlob" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from news
    </select>
    <select id="selectByPrimaryKeyWithDetail" parameterType="java.lang.Integer" resultMap="ResultMapWithDetail">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from news
        where id = #{id,jdbcType=INTEGER}
    </select>
</mapper>