<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dail.dao.ProjectDirectionMapper">
  <resultMap id="BaseResultMap" type="com.dail.model.ProjectDirectionKey">
    <id column="project_id" jdbcType="INTEGER" property="projectId" />
    <id column="research_direction_id" jdbcType="INTEGER" property="researchDirectionId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.dail.model.ProjectDirectionKey">
    delete from project_direction
    where project_id = #{projectId,jdbcType=INTEGER}
      and research_direction_id = #{researchDirectionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dail.model.ProjectDirectionKey">
    insert into project_direction (project_id, research_direction_id)
    values (#{projectId,jdbcType=INTEGER}, #{researchDirectionId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dail.model.ProjectDirectionKey">
    insert into project_direction
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        project_id,
      </if>
      <if test="researchDirectionId != null">
        research_direction_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="researchDirectionId != null">
        #{researchDirectionId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>




  <delete id="deleteByProjectId" parameterType="java.lang.Integer">
    delete from project_direction
    where project_id = #{projectId,jdbcType=INTEGER}
  </delete>
</mapper>