<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dail.dao.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.dail.model.SysUser">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="people_id" jdbcType="INTEGER" property="peopleId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="enabled" jdbcType="BIT" property="enabled"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, password, username, people_id, create_time, enabled, salt
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.dail.model.SysUser" useGeneratedKeys="true" keyProperty="id">
    insert into sys_user (id, password, username, 
      people_id, create_time, enabled, 
      salt)
    values (#{id,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{peopleId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{enabled,jdbcType=BIT}, 
      #{salt,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.dail.model.SysUser" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="peopleId != null">
                people_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
            <if test="salt != null">
                salt,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="peopleId != null">
                #{peopleId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=BIT},
            </if>
            <if test="salt != null">
                #{salt,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dail.model.SysUser">
        update sys_user
        <set>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="peopleId != null">
                people_id = #{peopleId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=BIT},
            </if>
            <if test="salt != null">
                salt = #{salt,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dail.model.SysUser">
    update sys_user
    set password = #{password,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      people_id = #{peopleId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      enabled = #{enabled,jdbcType=BIT},
      salt = #{salt,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>



    <resultMap id="ResultMapWithPeople" extends="BaseResultMap" type="com.dail.model.SysUser">
        <association property="people" column="people_id" javaType="com.dail.model.People" select="queryPeople">
        </association>
    </resultMap>
    <resultMap id="PeopleMap" type="com.dail.model.People">
        <id property="id" column="people_id" />
        <result property="name" column="people_name" />
    </resultMap>
    <select id="queryPeople" resultMap="PeopleMap" parameterType="java.lang.Integer">
        select id as people_id,name as people_name from people where id = #{id}
    </select>
    <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where username = #{username,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
    </select>
    <select id="selectByIdWithPeople" parameterType="java.lang.Integer" resultMap="ResultMapWithPeople">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where id = #{id,jdbcType=INTEGER}
    </select>
</mapper>